<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spaceflight News Blogs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="~/lib/HTMX/response-targets.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/nunjucks@3.2.4/browser/nunjucks.min.js"></script>
    <script>
      // CORS workaround
      document.addEventListener("htmx:configRequest", (evt) => {
        evt.detail.headers = [];
      });

      // Set the value of the 'search-input' element to the 'search' parameter from the URL if it exists
      htmx.onLoad(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const query = urlParams.get("search");
        if (query) {
          document.getElementById("search-input").value = query;
        }
      });
    </script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css"
    />
  </head>
  <body>

    <div hx-ext="client-side-templates">
      <input
        id="search-input"
        autofocus
        hx-get="https://api.spaceflightnewsapi.net/v4/blogs/"
        hx-indicator=".htmx-indicator"
        hx-target="#result"
        hx-trigger="load delay:100ms, keyup changed delay:500ms, search"
        hx-on::after-request="const url = new URL(location); url.searchParams.set('search', this.value); history.pushState({}, '', url);"
        name="search"
        nunjucks-template="blogs-template"
        placeholder="Search blogs..."
        type="search"
      />
      <template id="blogs-template">
        <!-- count -->
        {% if not previous %}
        <i> Found {{ count }} articles.</i>
        {% endif %}

        <!-- results -->
        {% for blog in results %}
        <div>
          <hr />
          <h2>
            <a href="{{ blog.url }}">{{ blog.title }}</a>
          </h2>
          <h4>
            Published by {{ blog.news_site }}, {{ blog.published_at |
            truncate(10, true, "")}}
          </h4>
          <p>{{ blog.summary }}</p>
        </div>
        {% endfor %}

        <!-- load more -->
        {% if next %}
        <button
          hx-get="{{ next }}"
          hx-swap="outerHTML"
          hx-trigger="click"
          nunjucks-template="blogs-template"
        >
          Load More...
        </button>
        {% endif %}
      </template>
      <div id="result"></div>
      <div id="serious-errors"></div>
      <div id="not-found"></div>
    </div>
  </body>
</html>
