@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
 <link rel="stylesheet" href="~/css/dark.css" asp-append-version="true" />
</head>

 <div class="container" hx-ext="client-side-templates">
      <h1 class="display-4 text-center">Learn HTMX</h1>

      <form
        hx-get="https://localhost:7137/api/dbcontext/v2/posts"
        hx-target="#posts-div"
        hx-swap="beforeend"
        mustache-array-template="posts-template"
        hx-target-5*="#serious-errors"
        hx-target-404="#not-found"
        hx-target-error="#any-errors"
        hx-trigger="submit"
      >
        <input
          type="email"
          class="form-control mb-3"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />

        <textarea
          class="form-control mb-3"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>

        <button type="submit" class="btn btn-primary mb-3">Add Post</button>
      </form>

      <div id="posts-div">
        <template id="posts-template">
          {{#data}}
          <div class="card Card_Post" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">{{content}}</p>
              <a href="#" class="btn btn-danger">Delete</a>
              <a href="#" class="btn btn-success">Success</a>
            </div>
          </div>
          {{/data}}
        </template>
      </div>

      <div id="serious-errors"></div>
      <div id="not-found"></div>
      <div id="any-errors"></div>
    </div>

