@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Demo of how the <b>load more</b> UX pattern works on htmx with JSON
    data APIs! You can find the source code on
    <a href="https://github.com/ngshiheng/spaceflight-news/blob/main/blogs.html">GitHub</a>. Go take a look!
</p>
