
  <div class="container col-sm-6 offset-lg-3" hx-ext="client-side-templates">
    <div hx-get="https://localhost:7137/posts"  hx-trigger="load once" >
  <div class="col mb-auto posts-col" mustache-array-template="posts-template">
    <template id="posts-template">
      {{#data}}
      <div class="card mt-5 card-{{id}}" style="width: 19.5rem">
        <div class="card-body">
          <h5 class="card-title xtitlename" id="xtitleID-{{id}}">{{title}}</h5>
          <p class="card-text xcontentname" id="xcontentID-{{id}}">
            {{content}}
          </p>
          <a href="#" class="btn btn-danger" hx-delete="https://localhost:7137/posts/{{id}}" hx-target=".posts-row"
            hx-swap="delete" hx-confirm="Are you sure you wish to delete this Post? Titled : {{title}}">Delete</a>
          <a href="#" class="btn btn-success" hx-put="https://localhost:7137/posts/{{id}}" hx-target=".card-{{id}}"
            hx-indicator="#indicator" hx-include="[name=title] ,[name=content]" hx-validate="true"
            hx-vals="js:{'': changeText({{id}})}">
            Update</a>
          <a href="#" class="btn btn-success" hx-get="./editPost.html" hx-swap="show:none" hx-target=".card-{{id}}">
            Edit</a>
        </div>
      </div>
      {{/data}}
    </template>
  </div>
</div>

<div id="serious-errors"></div>
<div id="not-found"></div>
<div id="any-errors"></div>