





    <form id="myForm" hx-post="https://localhost:7137/posts" hx-encoding='multipart/form-data' hx-target=".posts-row"
      hx-swap="beforeend">

      <input  class="form-control mb-3" name="id" placeholder="Please enter Title"  />

      <input type="text" class="form-control mb-3" name="title" placeholder="Please enter Title" required />

      <textarea class="form-control mb-3" name="content" rows="3" placeholder="Please enter Content"
        wrap="virtual"></textarea>


      <input type='file' name='file' class="form-control" value=null>
      <button hx-post='/upload' _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'
        hx-target="#postContent">
        Save
      </button>
      <progress id='progress' value='0' max='100'></progress>

      <button class="btn btn-primary mb-3">Add Post</button>


      <img id="indicator" class="htmx-indicator" src="./assests/img/load.gif" alt="Loading...." width="100"
        height="100" />

    </form>
