<!DOCTYPE html>
<html lang="en">

<head>
  <title>Alhafi News Blogs</title>
  <meta http-equiv="Content-Type: application/json " content="text/xhtml; charset=utf-8" />

  <script src="https://unpkg.com/htmx.org"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/nunjucks@3.2.4/browser/nunjucks.min.js"></script>


  <script>
    // CORS workaround
    document.addEventListener("htmx:configRequest", (evt) => {
      evt.detail.headers = [];
    });

    htmx.defineExtension('Alhafi-JSON-Accept-type', {
    onEvent: function (name, evt) {
        if (name === "htmx:configRequest") {
            evt.detail.headers['Content-Type'] = "application/json";
        }
    },

    encodeParameters : function(xhr, parameters, elt) {
        xhr.overrideMimeType('text/json');
        //location.reload();
        return (JSON.stringify(parameters));
    }
});
  </script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
  <div class="container col-sm-6 offset-lg-3" hx-ext="client-side-templates ">
    <h1 class="display-6 text-center">Alhafi Blog</h1>

    <form hx-post="https://localhost:7137/posts" hx-target=".posts-row" hx-ext="Alhafi-JSON-Accept-type"
      hx-swap="beforeend">
      <input id="titleID" type="text" class="form-control mb-3" name="title" placeholder="Please enter Title"
        required />

      <textarea class="form-control mb-3" name="content" id="contentID" rows="3"
        placeholder="Please enter Content"></textarea>

      <button  class="btn btn-primary mb-3" >Add Post</button>
      <img id="indicator" class="htmx-indicator" src="./assests/img/load.gif" alt="Loading...." width="30"
        height="30" />
    </form>
    <div class="align-items-center justify-content-center" hx-get="https://localhost:7137/posts" hx-target=".posts-row"
      hx-swap="beforeend"  mustache-array-template="posts-template" hx-target-5*="#serious-errors"
      hx-target-404="#not-found" hx-target-error="#any-errors" hx-trigger="load once delay:1.0s">
      <div class="row justify-content-around posts-row" >
        <template id="posts-template">
          {{#data}}
        <div class="mb-auto posts-cols">

            <div class="card  mt-5  card-{{id}}" style="width: 19.5rem">
              <div class="card-body ">
                <h5 class="card-title xtitlename" id="xtitleID">{{title}}</h5>
                <p class="card-text xcontentname" id="xcontentID">
                  {{content}}
                </p>
                <a href="#" class="btn btn-danger" hx-trigger="click" hx-delete="https://localhost:7137/posts/{{id}}"
                  hx-target=".posts-row" hx-swap="none"
                  hx-confirm="Are you sure you wish to delete this Post? Titled : {{title}}">Delete</a>
                <a href="#" class="btn btn-success" hx-put="https://localhost:7137/posts/{{id}}" hx-target=".posts-row"
                  hx-swap="none" hx-indicator="#indicator" hx-include="[name=title] ,[name=content]"
                  hx-vals="js:{titleID: changeText()}" hx-validate="true" hx-trigger="click">
                  Update</a>
                  <a href="#" class="btn btn-success" hx-get="./editPost.html"  hx-swap="show:none"  hx-target=".card-{{id}}"
                  >
                  Edit</a>
              </div>
            </div>

        </div>
        {{/data}}
          </template>
      </div>
    </div>

    <div id="serious-errors"></div>
    <div id="not-found"></div>
    <div id="any-errors"></div>
  </div>

  <script>
    function changeText() {
      document
        .getElementById("titleID")
        .setAttribute("value", document.getElementById("xtitleID").innerHTML);
      document.getElementById("contentID").value =
        document.getElementById("xcontentID").innerHTML;
    }
  </script>
</body>

</html>