<!DOCTYPE html>
<html lang="en">

<head>
  <title>Alhafi News Blogs</title>
  <meta http-equiv="Content-Type" content="application/json;text/xhtml; charset=utf-8" />
  <link rel="shortcut icon" href="#" />

  <script src="https://unpkg.com/htmx.org"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/nunjucks@3.2.4/browser/nunjucks.min.js"></script>
  <script>
    function checkFirstVisit() {
      if (document.cookie.indexOf('mycookie') == -1) {
        // The cookie doesn't exist. Create it now
        document.cookie = 'mycookie=1';
      }
      else {
        // Not the first visit, so alert
        alert('You refreshed!');
      }
    };
    function changeText(id) {
      document
        .getElementById("titleID")
        .setAttribute("value", document.getElementById("xtitleID-" + id).innerHTML);
      document.getElementById("contentID").value = '';
      document.getElementById("contentID").value =
        (document.getElementById("xcontentID-" + id).innerHTML).trim();
    };
    htmx.on('#myForm', 'htmx:xhr:progress', function (evt) {
      htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
    });

    htmx.defineExtension("Alhafi-JSON-Accept-type", {
      // https://www.digitalocean.com/community/tutorials/js-json-parse-stringify
      onEvent: function (name, evt) {
        if (name === "htmx:configRequest") {

          evt.detail.headers["Content-Type"] = "application/json";
          evt.detail.headers["Access-Control-Allow-Origin"] = "*";
          // evt.detail.headers["Vary"] = "HX-Request";
          //evt.detail.headers["X-API-Key"]= "sjk_xxx";


        }
      },

      encodeParameters: function (xhr, parameters, elt) {
        xhr.overrideMimeType('text/json') // override default mime type
        // const body = { // set your request body
        //   data: parameters,
        //   options: { submissionFormat: 'pretty' }
        // }
        return (JSON.stringify(parameters))


      },
    });

    function getParameter(paramName) {
      var searchString = window.location.search.substring(1), i, val, params = searchString.split("&");

      for (i = 0; i < params.length; i++) {
        val = params[i].split("=");
        if (val[0] == paramName) {
          return val[1];
        }
      }
      return null;
    };

    function getUrlData() {
      var id = getParameter("id");
      alert(id);
      document.getElementsByName("content")[0].value = id;
    };

    function getFileData(myFile) {
      var file = myFile.files[0];
      var filename = file.name;
      document.getElementById("postImage").value = filename;

    };


  </script>




  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</head>

<!-- <body onload="checkFirstVisit()"> -->

<body>
  <div class="container col-sm-6 offset-lg-3 align-items-center justify-content-center" hx-ext="client-side-templates">
    <h1 class="display-6 text-center">Alhafi Blog</h1>


    <form id="myForm" hx-post="https://localhost:7137/posts" hx-target=".posts-row" hx-swap="beforeend"
      hx-encoding='multipart/form-data'>


      <input type="hidden" class="form-control mb-3" name="id" value=0 />
      <input type="hidden" id="postImage" class="form-control mb-3" name="postImage"   />
      <input type="text" class="form-control mb-3" name="title" placeholder="Please enter Title" required />
      <textarea class="form-control mb-3" name="content" rows="3" placeholder="Please enter Content"
        wrap="virtual"></textarea>

      <input id="file" name="file" type="file" accept=".jpg, .jpeg, .png" hx-post="https://localhost:7137/upload"
        onchange="getFileData(this);" _="on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100" >
      <button class="btn btn-primary mb-3"  >Add Post</button>
      <progress id='progress' value='0' max='100'></progress>

      <img id="indicator" class="htmx-indicator" src="./assests/img/load.gif" alt="Loading...." width="100"
        height="100" />



    </form>


    <div id="MyRow" class="row justify-content-around posts-row" hx-get="https://localhost:7137/posts"
      mustache-array-template="posts-template" hx-trigger="load once,postUpdated">


      <div id="Post-id" class="col mb-auto posts-col">
        <template id="posts-template">
          {{#data}}
          <div id="CardNo" class="card mt-5 card-{{id}}" style="width: 19.5rem">
            <div class="card-body">
              <img class="mx-auto d-block" id="postImageID-{{id}}" src="./assests/img/uploads/{{postImage}}" width="100"
                height="100">
              <h5 class="card-title xtitlename" id="xtitleID-{{id}}">{{title}}</h5>
              <p class="card-text xcontentname" id="xcontentID-{{id}}">
                {{content}}
              </p>
              <a href="#" class="btn btn-danger" hx-delete="https://localhost:7137/posts/{{id}}"
                hx-target=".card-{{id}}" hx-swap="delete"
                hx-confirm="Are you sure you wish to delete this Post? Titled : {{title}}">Delete</a>

              <a href="#" class="btn btn-success" hx-put="https://localhost:7137/posts/{{id}}" hx-target=".card-{{id}}"
                hx-validate="true" hx-include="[name=id],[name=title] ,[name=content],[name=postImage]">
                Update</a>

              <!-- <a href="#" class="btn btn-success" hx-get="./editPost.html?id=1"
                 hx-headers='{"hx-trigger": "postUpdated"}' hx-target=".card-{{id}}"  hx-include="[id=xtitleID-{{id}}]">
                edit</a> -->


            </div>
          </div>
          {{/data}}
        </template>
      </div>
    </div>
  </div>

  <div id="postContent"></div>
</body>

</html>